@model DitHub.ViewModels.ListDitViewModel

<h2 class="mb-3">@Model.Title</h2>

<form method="post" asp-action="Search" asp-controller="Dits">
    <div class="input-group mb-3">
        <div id="searchdiv" class="form-floating" tabindex="0">
            <input type="text" class="form-control" aria-label="Seaech Dittes"
                   aria-describedby="addon" asp-for="@Model.SearchTerm" id="searchin">
            <label for="search">Search Dittes:</label>
        </div>
        <button class="input-group-text" id="addon" type="submit">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>
<ul class="listDA">
    @foreach (var item in Model.Dits)
    {
        <li class="d-flex">
            <div class="number flex-shrink-0">
                <div class="upN">@item.Date.ToString("MMM")</div>
                <div class="downN">@item.Date.ToString("dd")</div>
            </div>
            <div class="details flex-fill">
                <span class="artist">@item.AppUser.Name</span>
                <span class="downD">@item.Genre.Name</span>
            </div>
            <div class="ms-auto">
                @if (User.Identity!.IsAuthenticated)
                {
                    <button data-Feeid="@item.AppUserId" class="A btn btn-sm p-1">+ Fave Artist?</button>
                    if (item.RemoveFlag)
                    {
                        <span class="badge bg-warning text-dark p-2">Removed</span>
                    }
                    else
                    {
                        <button data-ditid="@item.Id" class="D btn btn-sm p-1">+ Fave Ditty?</button>
                    }
                }
            </div>
        </li>
    }
</ul>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".D").click(function (e) {
                var butten = $(e.target);
                var v = { Ditid: parseInt(butten.attr('data-ditid')) }
                $.post({
                    url: '/api/favedit',
                    data: JSON.stringify(v),
                    contentType: 'application/json'
                })
                    .done(function () {
                        butten
                            .css("box-shadow", "0.5rem 0.5rem #ccc, -0.5rem -0.5rem #f93636")
                            .text('Added')
                        alert('Request done!');
                    })
                    .fail(function (jqxhr, settings, ex) {
                        alert('failed, ' + ex + jqxhr.responseText);
                    })

            })

            $(".A").click(function (e) {
                var butten = $(e.target);
                var v = { FeeId: butten.attr('data-Feeid') }
                $.post({
                    url: '/api/followings',
                    data: JSON.stringify(v),
                    contentType: 'application/json',
                    dataType: 'json'
                })
                    .done(function () {
                        butten
                            .css("box-shadow", "0.5rem 0.5rem #ccc, -0.5rem -0.5rem #f93636")
                            .text('followed')
                        alert('Request done!');
                    })
                    .fail(function (jqxhr, settings, ex) {
                        butten
                            .css("box-shadow", "0.5rem 0.5rem #f93636, -0.5rem -0.5rem #ccc")
                            .text('failed')
                        alert('failed, ' + ex + jqxhr.responseText);
                    })

            })
        })

    </script>
}