@model ListDitViewModel

@{
    ViewData["Title"] = @Model.Title;
}
<h2 class="mb-3">@Model.Title</h2>

<form method="post" asp-action="Search" asp-controller="Home">
    <div class="input-group mb-3">
        <div id="searchdiv" class="form-floating" tabindex="0">
            <input type="text" class="form-control" aria-label="Seaech Dittes"
                   aria-describedby="addon" asp-for="@Model.SearchTerm" id="searchin">
            <label for="search">Search Dittes:</label>
        </div>
        <button class="input-group-text" id="addon" type="submit">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>
<ul class="listDA">
    @foreach (var item in Model.Dits)
    {
        <li class="d-flex">
            <div class="number flex-shrink-0">
                <div class="upN">@item.Date.ToString("MMM")</div>
                <div class="downN">@item.Date.ToString("dd")</div>
            </div>
            <div class="details flex-fill">
                <a asp-action="Details" asp-controller="Dits" asp-route-id="@item.Id" class="artist">
                    @item.AppUser.Name
                </a>
                <span class="downD">@item.Genre.Name</span>
            </div>
            <div class="ms-auto">
                @if (User.Identity!.IsAuthenticated)
                {
                    <button data-Feeid="@item.AppUserId" class="A btn btn-sm p-1">
                        @(Model.FolloweeL!.Contains(item.AppUserId) ? "A Is + Fave.":"+ Fave Artist?")
                    </button>
                    if (Model.Title == "Home Dittes")
                    {
                        <button data-ditid="@item.Id" class="D btn btn-sm p-1">
                            @(Model.FaveDits!.Contains(item.Id) ? "D Is + Fave.":"+ Fave Ditty?")
                        </button>
                    }
                    if (item.RemoveFlag)
                    {
                        <span class="badge bg-warning text-dark p-2">Removed</span>
                    }
                    else
                    {
                        <span class="badge bg-info text-dark p-2">Active</span>

                    }
                }
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            DitController.val(".listDA");
            FollowController.val(".listDA")
        })
    </script>
}