@model IEnumerable<Dit>

<h1>@ViewData["Title"]</h1>

<ul class="listDA">
    @foreach (var item in Model)
    {
        <li class="d-flex">
            <div class="number">
                <div class="upN">@item.Date.ToString("MMM")</div>
                <div class="downN">@item.Date.ToString("dd")</div>
            </div>
            <div class="details flex-fill">
                <span class="artist">@item.Venue</span>
                <span class="downD">@item.Genre.Name</span>
            </div>
            <div class="action ms-auto">
                <a role="button" asp-action="Edit" asp-controller="Dits" asp-route-id="@item.Id"
                   class="A btn btn-sm flex-fill p-1">
                    Edit
                </a>
                @if (item.RemoveFlag)
                {
                    <span class="badge bg-warning text-dark p-2">Removed</span>
                }
                else
                {
                    <a role="button" data-id="@item.Id" class="D btn btn-sm flex-fill p-1">
                        Remove
                    </a>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".D").click(function (e) {
                var a = $(e.target);
                var id = a.attr("data-id");
                bootbox.dialog({
                    title: 'Confirm',
                    message: 'Are you shure you want to remove this Ditti?',
                    size: 'large',
                    onEscape: false,
                    backdrop: true,
                    buttons: {
                        No: {
                            label: 'No',
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        Yes: {
                            label: 'Yes',
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/dits/" + id,
                                    type: "delete",
                                    contentType: "application/json",
                                })
                                    .done(function () {
                                        bootbox.dialog({
                                            message: '<p name="p" class="listDA text-center mb-0">Please wait for awhile...</p>',
                                            closeButton: false,
                                            callback: function () {
                                            }
                                        });
                                        window.setTimeout(function () {
                                            bootbox.hideAll();
                                            a.parents("li").fadeOut(function () {
                                                $(this).remove();
                                            });
                                        }, 2000);
                                    })
                                    .fail(function () {
                                        bootbox.alert("Opps! something went wrong")
                                    });
                            }
                        },
                    },
                    className: 'listDA'
                })


            });
        });
    </script>
}
