@model IEnumerable<DitHub.Models.Dit>

<h1>@ViewData["Heading"]</h1>

<ul class="listDA">
    @foreach (var item in Model)
    {
        <li class="d-flex justify-content-between">
            <div class="number">
                <div class="upN">@item.Date.ToString("MMM")</div>
                <div class="downN">@item.Date.ToString("dd")</div>
            </div>
            <div class="details flex-fill">
                <span class="artist">@item.Venue</span>
                <span class="downD">@item.Genre.Name</span>
            </div>
            <div class="action">
                <a role="button" asp-action="Edit" asp-controller="Dits" asp-route-id="@item.Id"
                   class="A btn btn-sm flex-fill p-1">
                    Edit
                </a>
                <button data-ditid="@item.Id" data-id="@item.Id" class="D btn btn-sm flex-fill p-1">Delete</button>
            </div>
        </li>
    }
</ul>
<table class="table mt table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Venue
            </th>
            <th>
                Genre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @item.Date.ToShortTimeString()
                </td>
                <td>
                    @item.Venue
                </td>
                <td>
                    @item.Genre.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
